@font-face {
    font-family: digital;
    src: url('/fonts/digital-7.ttf');
}

.top-bar {
    height: 12vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    gap: 5vw;
    
}

.back {
    margin-left: 3vw;
    position: relative;
    padding: 2vh 2vw;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #0498c6;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.back:hover {
    background-color: rgb(4, 152, 198, .9);
}

.waldo-icon {
    background-image: url('/images/waldoIcon.png');
    width: 8vw;
    height: 12vh;
    background-size:cover;
    margin-left: 2vw;
    margin-right: 10vw;
}

h1 {
    font-size: 6vh;
}

img {
    background-repeat: no-repeat;
    height: 160vh;
    width: 100%;
}

.win-popup {
    position:fixed;
    width: 30vw;
    height: 45vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: rgb(240, 248, 255, .98);
    border-radius: 2%;
    border: .5vh solid black;
    display: flex;
    flex-direction: column;    
    align-items: center;


}


input {
    width: 60%;
    height: 4vh;
    

    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 3vh;
    padding: 10px;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

input:hover {
    outline: none;
    border-bottom-color: #007bff;
}

.leaderboard {
    margin-top: 6vh;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(242, 57, 37);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 2vh 2vw;
    
}

.leaderboard:hover {
    background-color: rgb(242, 57, 37, .9);

}
